fastapi==0.110.3
pymongo==4.7.2
opensearch-py==2.6.0
langchain==0.2.1
langchain-core==0.2.5
langchain-community==0.2.1
langchain-openai==0.1.8
langgraph==0.0.59
langserve[server]==0.2.1

tenacity==8.2.2
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-instrumentation-logging==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-exporter-jaeger==1.21.0

-e lib/mq_client